@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
/* common css */
* {
  margin: 0;
  padding: 0;
}

#root {
  width: auto;
  height: auto;
  overflow: auto;
}

.margin_auto{
  margin: 0 auto;
}
#root.lock #loading {
  z-index: 100000;
}

#root #loading {
  z-index: -1;
}

/*loader*/

.loader {
  position: fixed;
  /* visibility:visible; */
  z-index: 999999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}

.loader .loader__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

#loading-rotater {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: rotateBase 20s infinite linear;
}

#loading-svg {
  animation: loading 2s infinite ease-in-out, rotate 2s infinite ease-in-out;
  stroke-dasharray: 150.79632;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 150.79632;
  }
  100% {
    stroke-dashoffset: -150.79632;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateBase {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #000;
  transition: width 0.7s ease;
}
.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}
.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}
.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}
.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}
.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}
.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}
.loader--active {
  width: 100%;
  transition-delay: 0s;
}
.loader--active .loader__icon {
  opacity: 1;
  transition: opacity 0.5s 1.4s ease;
}
.loader--active .loader__tile {
  width: 100%;
}
.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}
.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}
.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}
.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}
.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}
.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}

/*scroll*/
#scroll {
  position: fixed;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
/*font*/
.font-rajdhani{
  font-family: "Rajdhani";
  line-height: 96.6%;
  letter-spacing: -2px;
}
.font-railwaydots{
  font-family: "Raleway Dots";
  line-height: 96.6%;
  letter-spacing: -2px;
}

